<p>login works!</p>
<form [formGroup]="signinForm" (ngSubmit)="loginUser()" >

    <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input  matInput placeholder="Placeholder"  formControlName="email">
     
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput placeholder="Placeholder"  formControlName="password">
       
      </mat-form-field>
      <button mat-button color="primary">enviar</button>
</form>